.body{
    margin: 0;
}
.header{
    padding: 0 45px 0 45px;
    background-color: #283592;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    color: #FFF;
    margin: 0;
    padding: 0;
    display: block;
    transition: all 0.6s ease-out;
}
.nav a:hover{
    color: #c5cae9;
    transform: rotate(6deg);

}
.nav li{
    margin-left: 20px;
}
.sign-up-form{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #FFF;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.signup-btn{
    background-color: #1c8adb;
}